In [ ]:
print("Hello World")

Hello World

In [ ]:
# Basic Data type str,int,float,bool
name="ravi"
age = 45
city= 'Bengaluru'
zipcode = 560001
anyCreditCard=True

In [ ]:
print(name)
print('your name is ',name)
print('data type of name variable',type(name))

ravi
your name is  ravi
data type of name variable <class 'str'>

In [ ]:
name=123
print('data type of name variable ',type(name))

data type of name variable  <class 'int'>

In [ ]:
balance=1000.99
print ('data type of balance ',type(balance))

data type of balance  <class 'float'>

In [ ]:
print ('data type of anycredit card',type(anyCreditCard))

data type of anycredit card <class 'bool'>

In [ ]:
'''
list - []
tuple - ()
dictionary - {key:value}
set - {n1,n2,n3}
'''

In [ ]:
#list - dynamic array, it allows duplicate values
customerlist = ['ravi','ganesh','gowri','abdul','alex']
print('customer list ',customerlist)
print('data type of customerlist ',type(customerlist))

customer list  ['ravi', 'ganesh', 'gowri', 'abdul', 'alex']
data type of customerlist  <class 'list'>

In [ ]:
#tuple - cannot modify once it is defined
days=('Mon','Tue','Wed')
print('data type of days',type(days))

data type of days <class 'tuple'>

In [ ]:
#dictionary - {key:value} key should be unique
employee={101:'ramesh',102:'ravi',103:'ramya'}
print('employee ',employee)
print('employee data type ',type(employee))

employee  {101: 'ramesh', 102: 'ravi', 103: 'ramya'}
employee data type  <class 'dict'>

In [ ]:
#set - {n1,n2,n3} - it does not allow duplicate values
even={2,4,6,8,2}
print('even numbers',even)
print('type of even numbers',type(even))

even numbers {8, 2, 4, 6}
type of even numbers <class 'set'>