In [ ]:
'''
Arithmetic operator - +,-,*,/,//,%
5/2 - 2.5
5//2 = 2
5%2 = 1
'''
n1 = 100
n2 = 50
result = n1+n2
print('sum of ',n1,' and ',n2, ' is ',result)

sum of  100  and  50  is  150

In [ ]:
#Comparision operator/Relational operator - >,<,>=,<=,==,!=
n1=100
n2=50
print(n1>n2)
result= (n1==n2)
print ('n1==n2 ',result)

result= (n1!=n2)
print ('n1!=n2 ',result)

True
n1==n2  False
n1!=n2  True

In [ ]:
#logical operators

n1 = 100
n2=75
n3 = 150
result = (n1>n2) and (n3>n2)
print ('result of (n1>n2) and (n3>n2) ',result)
result = (n2>n1) or (n3>n2)
print ('result of (n2>n1) or (n3>n2) ',result)
result = not((n2>n1) or (n3>n2))
print ('result of not((n2>n1) or (n3>n2)) ',result)

result of (n1>n2) and (n3>n2)  True

In [ ]:
#Bitwise operator - &,|,^,~
n1 = 5
n2 = 6
result = n1 & n2
print ("result of n1 & n2 ",result)
result = n1 | n2
print ("result of n1 | n2 ",result)

result of n1 & n2  4
result of n1 | n2  7