In [ ]:
print(1)
print(2)

1
2

In [ ]:
'''
print 2's table using while loop
'''
start =2
end = 20
while (start <=end ):
  print(start)
  start = start +2

2
4
6
8
10
12
14
16
18
20

In [ ]:
'''
print 2's table in reverse using while loop
'''
start =20
end = 2
while (start >=end ):
  print(start)
  start = start -2

20
18
16
14
12
10
8
6
4
2

In [ ]:
'''
for loop
'''
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
print("2's table in reverse order")
for i in range(2,21,2):
  print(i)
print('program completed')

2's table in reverse order
2
4
6
8
10
12
14
16
18
20
program completed

In [ ]:
age=19
if age>=18:
  print ("you can vote")
else:
  print ("you cannot vote")

you can vote

In [ ]:
'''
grade based on marks

marks >90 <=100 - A+
marks >80 <=90 - A
marks >70 <=80 - B+
'''
marks = 98
if (marks >90 and marks <=100):
  print('A+')
elif (marks >80 and marks <=90):
  print('A')
elif (marks >70 and marks <=80):
  print('B+')
else:
  print('less than B+')

A+